body {
    /* background-color: #E8E8E8; */
    background-color: #3A414C;
    font-family: fantasy;
    font-size: 17px;
    color: #E7E7E7;
  }
  
h1 {
margin-left: 20px;
color: #EDEFF2;
}

h2{
    color: #B0B8C4;
}

h3{
    color: #B0B8C4;
}



/* unvisited link */
a:link {
/* color: #336699; */
color: #8CB9CD;

}
/*
/* visited link */
a:visited {
color: #8CB9CD;
}

hr{
    color: #CDC4A7;
}


.container {
width: 850px;
height: auto;
margin: auto;
/* outline: solid 2px #CDC4A7; */
text-align:center;
}

.projects{
    text-align: left;
    margin-left: 10px;
}